{% extends "_layout/index_new.html" %}
{% block style%}
<style>
    /*.veil ul li:nth-child(3) a{*/
    /*color:#FFD48B;*/
    /*}*/

    @media only screen and (min-width: 1200px) {
        .sandbox-content {
            padding-left: 145px;
            padding-right: 145px;
        }
    }


    .works-type li:nth-child({{ type }}) a{  color:#FFD48B;  }
</style>
{% endblock %}
{% block pageTitle %}<div style="text-align: center;"><span style="line-height: 34px;font-size: 26px;font-family: FZLTXHB--B51-0;color: #333333;"></span></div>{% endblock %}
{% block body %}
<div class="common-padding">
    <div class="title-text2 padding-60-30">CONTACT US</div>
    <p>186&nbsp;&nbsp;0005&nbsp;&nbsp;5717</p>
    <p>hello@dorrr.com</p>


    <div class="title-text2 padding-60-30">SOCIAL​</div>
    <div class="in-bl-line">
        <div class="contact-item contact-weibo in-bl-line-item">+weibo</div>
        <div class="contact-item contact-dribble in-bl-line-item" >+dribbble</div>
        <div class="contact-item contact-instagram in-bl-line-item" >+instagram</div>
    </div>

    <div class="in-bl-line padding-60-30" style="margin-bottom: 100px;position: relative;">
        <div class="in-bl-line-item map-width"><img style="width: 100%;" src="/images/map.png"/></div>
        <div class="copyright-text copyright-panel" style="">© 2018 Dorrr 版权所有</div>
    </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}